:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type="text"] {

  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  /* Prevents auto-zoom on mobile Safari */
  transition: border-color 0.3s, box-shadow 0.3s;
  background-color: lightslategrey;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  min-width: 400px;
}

input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
  outline: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
}


.enter-button {
  padding: 12px;
  height: 100%;
  margin: 0;
  background-color: rgb(164, 146, 146);
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 2px solid #ccc;
}

.enter-button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.response-container {
  border-style: dotted;
  border-color: black;
  border-radius: 3px;
  padding: 10px;
  background-color: #4d4f7a;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  margin-top: 50px;
}


.icon-spin {
  margin-top: 30px;
  animation: spin 1s linear infinite;
  font-size: large;
}


.question-container {
  border-style: dotted;
  border-color: black;
  border-radius: 3px;
  padding: 10px;
  background-color: #4f1551;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  margin-top: 50px;
}

.error-message{
 border-style: dotted;
  border-color: black;
  border-radius: 3px;
  padding: 10px;
  background-color: rgb(138, 12, 12);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  margin-top: 50px;
  color: white;
}